{{ config.template_footer|safe }}

    <footer class="footer">
		<div class="footer-container">
			<a class="footer-logo" href="http://www.spirit-project.com" >Spirit</a>
		</div>
	</footer>

<script src="//d3qif39x2jyjyc.cloudfront.net/assets/homepage-671ee345d92005b1e959c6478196ce228af7490c8c3ff971ba35abe93caa900b.js"></script>
  <script>
    new BackgroundImage("https://weddingwoo.imgix.net/uploads/background/5b0b7111976c9e3e9f000000/6eed7323edac92bf08438a5864d88fce/IMG_0950.JPG?fit=max&w=275&h=250", "https://weddingwoo.imgix.net/uploads/background/5b0b7111976c9e3e9f000000/6eed7323edac92bf08438a5864d88fce/IMG_0950.JPG?fit=max&w=1600&h=1200", {horizontal: "50", vertical: "50", scaling: "fill"}).loadBackground();
  </script>