{% load spirit_tags i18n %}

    <header class="header js-tabs-container">
        <table>
          <tr>
            <td> <img src="https://weddingwoo.imgix.net/uploads/background/5b0b7111976c9e3e9f000000/6eed7323edac92bf08438a5864d88fce/IMG_0950.JPG?fit=max&w=100&h=75"/> </td>
            <td><span style="margin-right:30px">&nbsp;</span></td>
            <td>
              <a class="header-logo" href="{% url "spirit:index" %}">Wedding Forum</a>
              <br/><br/>
              <a href="/" style="color:blue;">Back to Wedding Site</a>
            </td>

          </tr>

        </table>
        <br/><br/>
        Feel free to ask questions, answer questions and start discussions on carpooling, lodging and activities

        {% if user.is_authenticated %}

            <ul class="header-tabs">
                <li><a class="header-tab-link js-tab" href="{% url "spirit:search:search" %}" data-related=".js-search-content"><i class="fa fa-search"></i></a></li>
            </ul>

            <div class="header-tabs-content">


                <div class="header-tab-content js-tab-content js-search-content">
                    {% render_search_form %}
                </div>

            </div>
        {% else %}
            <a class="header-link" href="{% url "spirit:user:auth:login" %}?next={% firstof request.get_full_path|urlencode '/' %}">{% trans "Log in" %}</a>
        {% endif %}
	</header>