<html>
    <head>
        <style>
            #envelope {position:absolute;z-index:1; transition: transform 0.6s ease;}
            #card {position:absolute;left:5px;top:160px;z-index:2; transition: transform 0.6s ease;}
            #envelope_partial {position:absolute;z-index:3; transition: transform 0.6s ease;}
            #animation {position:relative; height: 533px; overflow-y:hidden; top: -500px;transition: transform 0.6s ease;}

        </style>

    </head>
    <body>

        <div id="animation">
            <div id="card">
                <img  width="400px" src="/static/woo/invitation_1.jpg"/>
            </div>
            <div id="envelope">
                <img width="425px" src="/static/woo/invitation_2.jpg"/>
            </div>

            <div id="envelope_partial">
                <img  width="425px" src="/static/woo/invitation_3.png"/>
            </div>
        </div>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

        <script>
            $(document).ready(function(){
              setTimeout(lowerCard, 1000);
            });

            function lowerCard()
            {
                $('#animation').bind( 'transitionend', cardLowered);
                $('#animation').css("transform","translate(0,600px)");
            }

            function cardLowered()
            {
                setTimeout(openCard, .6);
            }

            function openCard()
            {
                $('#envelope, #envelope_partial').bind( 'transitionend', function() {$(this).hide(); });
                $('#card').css("transform","translate(0,-300px)");
                $('#envelope, #envelope_partial').css("transform","translate(0, 300px)");
                $('#animation').css("height", "auto")
                $('#animation').css("overflow-y", "visible")
            }
        </script>
        </body>
</html>