{% load i18n %}<html dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style id="owaParaStyle" type="text/css">P { margin-top: 0; margin-bottom: 0; }
P {
    font-family:arial, helvetica, verdana;
    line-height:21.6px;
    font-size: 12px;
}


</style>

</head>
<body ocsi="0" fpstyle="1">

<!-- <img src="{{host_url}}/static/images/save_the_date_june.jpg"/><br><br> -->


<table style='border-bottom: 1px solid #eaeaea; width: 100%; margin-bottom: 15px; padding-bottom: 15px;' width='100'>
    <tr>
        <td align='center' style='margin: 5px 0; padding: 5px 0;'>
            <table align='center' cellpadding='0' cellspacing='0' style='' width='100%'>
                <tr>
                    <td>
                        <table cellpadding='0' cellspacing='0' style='padding:0;' width='100%'>
                            <tr>
                                <td align='center' style='color:#4c4c4c;font-size:12px;line-height:1.8;'>
                                    <table style='width: 100%; margin: 0;' width='100'>
                                        <tr align='center' style='margin-bottom: 15px; padding-bottom: 15px;'>
                                            <td align='center' style='text-align:center;'></td>
                                        </tr>
                                    </table>
                                    <table style='width: 100%; margin-bottom: 15px; padding-bottom: 15px;' width='100'>
                                        <tr align='center' style='margin-bottom: 15px; padding-bottom: 15px;'>
                                            <td align='center' style='text-align:center;'>
                                                <a class='cb-card-link-url' href='{{host_url}}/invitation' style='text-align: center; color: #a38546; font-size: 12px; border: 1px solid #a38546; line-height: 21px; font-family: Georgia, sans-serif; padding: 6px; display: inline-block; vertical-align: middle; text-decoration: none; text-transform: uppercase; margin: 10px; width: 130px;'>
                                                    View the Card
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    <div style="position:relative; width:679px;" >
                                    <a href='{{host_url}}/invitation' style='display:block;text-decoration:none' >

                                            <div style="position:absolute;top:230px;left:{{start_pos}}px;font-size:20px;font-weight:bold;font-style: italic;">{{addressee}}</div>
                                            <img class='fluid cb-card-image' height='532px' src='{{host_url}}/user-images/{{user_id}}/letter.jpg' style='display:block; margin-bottom: 15px;' width="679px">
                                    </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr align='center' style='margin-bottom: 15px; padding-bottom: 15px; margin-top:22px; padding-top:22px;'>
        <td align='center' style='text-align:center;'>
            <span >
                <p></p>

                <p>Courtney Morrison
                <br />&amp;
                <br />Dave Finke</p>

                <p>AND THEIR FAMLIES INVITE YOU TO
                    <br />CELEBRATE THEIR MARRIAGE
                    <br />SUNDAY, JUNE 7, 2019
                    <br />AT FOUR FOURTY FIVE IN THE AFTERNOON
                    <br />THE GRAND BARN at the Mohicans
                </p>

                <p>DINNER AND MERRIMENT TO FOLLOW
                </p>
            </span>
        </td>
    </tr>
</table>


</body>
</html>