<html>
    <head>
        <style>
            #envelope {position:absolute;z-index:1; transition: transform 0.6s ease;}
            #card {position:absolute;left:5px;top:160px;z-index:2; transition: transform 0.6s ease;}
            #envelope_partial {position:absolute;z-index:3; transition: transform 0.6s ease;}
            #animation {position:relative; height: 533px; overflow-y:hidden; top: -500px;transition: transform 0.6s ease;}

        </style>

    </head>
    <body>

        <div id="animation">
            <div id="card">
                <img  width="400px" src="https://pi.ppassets.com/images/ppa/cards/images/556816488/original/49235d3282b7cab71f55a216f8eff54d-20-129474923?w=0.5&fm=jpg&q=99&sig=5c5ce6a58bb537828aa378ee58f5a358"/>
            </div>
            <div id="envelope">
                <img width="425px" src="https://pi.ppassets.com/images/ppa/cards/images/556816487/original/8b3852792302b298ad6523f120350cdb-20-129474927?w=0.5&fm=png&sig=e0466d4f1bf93b35c3746011a5b7a1c4"/>
            </div>

            <div id="envelope_partial">
                <img  width="425px" src="https://c2.ppassets.com/envelopes/back_covers/77/a927ac044d394c12fb5cf116465d8cf7-228-77/optipng.png"/>
            </div>
        </div>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

        <script>
            $(document).ready(function(){
              setTimeout(lowerCard, 1000);
            });

            function lowerCard()
            {
                $('#animation').bind( 'transitionend', cardLowered);
                $('#animation').css("transform","translate(0,600px)");
            }

            function cardLowered()
            {
                setTimeout(openCard, .6);
            }

            function openCard()
            {
                $('#envelope, #envelope_partial').bind( 'transitionend', function() {$(this).hide(); });
                $('#card').css("transform","translate(0,-300px)");
                $('#envelope, #envelope_partial').css("transform","translate(0, 300px)");
                $('#animation').css("height", "auto")
                $('#animation').css("overflow-y", "visible")
            }
        </script>
        </body>
</html>